certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
dask==2024.8.0
dask-expr==1.1.10
fsspec==2024.6.1
idna==3.8
importlib_metadata==8.4.0
locket==1.0.0
numpy==2.0.1
packaging==24.1
pandas==2.2.2
partd==1.4.2
pyarrow==17.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
toolz==0.12.1
tzdata==2024.1
urllib3==2.2.2
zipp==3.20.0
